# Files
## Individual
.env
planetRegionsBACKUP.json
stratagems_backup.json
resources/maps/*_map.webp

## Of a type
*.code-workspace
resources/maps/localized/*.webp

# Folders
## Individual
.vscode/
__pycache__/
json_creation_scripts/
resources/changes_campaign/
resources/changes_dss/
resources/emojis/
resources/planet_effect_icons/