# Files
## Individual
.env
planetRegionsBACKUP.json
stratagems_backup.json

## Of a type
*.code-workspace

# Folders
## Individual
.vscode/
__pycache__/
json_creation_scripts/
resources/changes_campaign/
resources/changes_dss/
resources/emojis/
resources/planet_effect_icons/