TOKEN = BOT_TOKEN
BETA_TOKEN = MOTHER_BOT_TOKEN
OWNER = OWNER_ID
SUPPORT_SERVER = SUPPORT_SERVER_ID
MODERATION_CHANNEL = MODERATION_CHANNEL_ID
WASTE_BIN_CHANNEL = WASTE_BIN_CHANNEL
API_CHANGES_CHANNEL = API_CHANGES_CHANNEL
API = API_URL
BU_API = BACKUP_API_URL
DEV_API = TESTING_API_URL
DB_HOSTNAME = DB_HOSTNAME
DB_NAME = DB_NAME
DB_USERNAME = DB_USERNAME
DB_PWD = DB_PASSWORD
DB_PORT_ID = DB_PORT_ID